<h1>List of authors ⋆🪶⋆ ִֶ</h1>

<table border="1" cellspacing="0" cellpadding="5" style="border-collapse: collapse; width: 100%;">
    <tr style="background-color: darkred; color: white;border-collapse: collapse; width: 100%; border-radius: 10px; overflow: hidde">
        <th>Username</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
</table>