<h1>Liste des auteurs par email</h1>

<table border="1" cellpadding="5" cellspacing="0">
    <tr>
        <th>Username</th>
        <th>Email</th>
    </tr>
    {% for author in authors %}
    <tr>
        <td>{{ author.username }}</td>
        <td>{{ author.email }}</td>
    </tr>
    {% endfor %}
</table>
