<h1>update author  °❀.ೃ࿔*</h1>
<a href="{{ path('showall') }}">back to list</a>
<br>
<br>
{{ form_start(form) }}


    {{ form_widget(form) }}

<br>
    <br>
    <button type="submit">update author</button>
{{ form_end(form) }}
